@font-face {
  font-family: 'Montserrat';
  src: url('~/assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('~/assets/fonts/CormorantGaramond-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

body {
  @apply font-sans text-charcoal bg-white;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif;
}

